* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: inherit;
}

$primary-color: #afb8b3;
$secondary-color: #174a45;
$third-color: #f3f5f4;
$white: #fff;
$gradient-secondary: #b4b4b4;
$primary-font: "Open Sans";
$secondary-font: "Lato";

body {
    // background: radial-gradient(circle at 41% 50%,$white,$gradient-secondary);
}

#root {
    font-family: $primary-font;

    .secondary-font {
        font-family: $secondary-font;
    }

    .custom-container {
        max-width: 95vw;
        margin-left: 2.5vw;
    }

    .small,
    small {
        font-size: 80%;
        font-weight: 400;
    }

    .font-weight-light {
        font-size: 90%;
        font-weight: lighter;
    }

    .mt-auto {
        margin-top: auto;
    }

    .full-width {
        width: 100%;
    }

    textarea.full-width {
        border-radius: 15px;
        border-color: $primary-color;
        padding-top: 15px;
        padding-left: 15px;
    }

    // .text-muted {
    //     color: #777;
    // }

    .react-tabs__tab-panel {
        margin-top: -12px;
    }

    /* Option tabs */
    .react-tabs__tab-list {
        display: flex;
        .react-tabs__tab--selected {
            background: $secondary-color;
            .tab-menu-index {
                background: $primary-color;
            }
        }
    }

    .react-tab-tab {
        cursor: pointer;
        flex: 1 1;
        background: $primary-color;
        padding: 11px;
        &.box-shadow--light {
            box-shadow: 0 0 20px rgb(0 0 0 / 30%);
        }
        font-family: $primary-font;
        font-size: 13px;
        color: #fff;
        text-align: center;
        font-weight: 600;

        .tab-menu-index {
            align-self: center;
            border-radius: 50%;
            height: 1.8rem;
            width: 1.8rem;
            text-align: center;
            background: $secondary-color;
            .menu-index {
                position: relative;
                top: 5px;
            }
        }
    }
    // .react-tab-tab.active {
    //     // background: #ffb948!important;
    //     background: $secondary-color;
    //     .tab-menu-index {
    //         background: $primary-color;
    //     }
    // }

    .radio-input-wrapper {
        // padding-left: 20px;
        // padding-top: 10px;
        padding-bottom: 10px;
        label {
            // padding-top: 10px;
            margin-left: 20px;
        }
        // &:not(:last-child) {
        //     border-bottom: 1px solid #e8e8e8;
        // }
        // padding: 10px;
        input::before {
            content: "\f111";
            font-family: "Font Awesome 5 Free";
            color: white;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-size: 20px;
            position: relative;
            left: -3px;
            top: -5px;
            border: 1px solid $primary-color;
            border-radius: 50%;
            background: white;
        }
        input:checked::before {
            content: "\f058";
            color: #53bd01;
            border: none;
            font-size: 22px;
        }
    }

    .personalize-option-wrapper {
        background: $third-color;
        padding: 1rem;
    }

    /* Slide options */
    .step-nav--directional {
        background: #f3f3f3;
        min-height: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        .item {
            color: #0d98f0;
            display: flex;
            cursor: pointer;
            // align-items: center;
            .item-name {
                text-transform: capitalize;
                margin-top: auto;
                margin-bottom: auto;
            }

            // adding border
            box-shadow: 0 0 20px rgb(0 0 0 / 30%);
            border-radius: 4px;
            padding: 5px;
            // end adding border

            &:hover {
                transform: scale(0.97);
                transition: 0.2s all;
                // box-shadow: none;
                // border: 1px solid #afb8b352;
                box-shadow: 0 0 10px rgb(0 0 0 / 15%);
            }
        }
        .left-item {
            padding-left: 0.6rem;
            margin-right: auto;
            margin-left: 8px;
            padding-right: 0.8rem;
        }
        .right-item {
            padding-right: 0.6rem;
            margin-left: auto;
            margin-right: 8px;
            padding-left: 0.8rem;
        }

        .fa-angle-left {
            margin-right: 0.5rem;
        }
        .fa-angle-right {
            margin-left: 0.5rem;
        }
        .fas {
            font-size: 1.5rem;
        }
    }

    .current-info-block {
        background: white;
        min-height: 3.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            padding-left: 1.5rem;
            font-size: 1.4rem;
            font-weight: bolder;
            font-family: $secondary-font;
            color: rgb(74, 74, 74);
            text-transform: uppercase;
            // font-weight: bolder;
        }
        .info {
            display: flex;
            flex-direction: column;
            padding-right: 1rem;
            .fa-exclamation-triangle {
                color: rgb(246, 151, 43);
            }
            font-family: $primary-font;
            i {
                text-align: center;
            }
        }
        // box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    }

    .swipable-views-colors-wrapper {
        font-family: $primary-font;
        font-size: 16px;
        background: white;
        // box-shadow: 0px -7px 10px rgb(0 0 0 / 13%);
    }

    .tab-user-options-container {
        max-height: 400px;
        overflow-y: scroll;
    }

    .pick-color-wrapper {
        &.shadow {
            box-shadow: 0px -7px 10px rgb(0 0 0 / 13%);
        }
        background: $third-color;
        .color-title {
            padding: 1rem 1rem 0rem 1rem;
            font-family: $primary-font;
            font-size: 0.8rem;
        }
        .color-label {
            transition: all 0.2s ease 0s;
            font-weight: 300;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding: 11px;
            text-align: center;
            font-size: 11px;
            cursor: pointer;
            width: 100%;
            margin-bottom: 0px;
        }
        .color {
            transition: all 0.2s ease 0s;
            display: flex;
            width: 100%;
            height: 2.5rem;
            margin: 0px auto 0.3rem;
            padding: 3px;
            border: none;
            // background: center center rgb(255, 99, 0);
            border-radius: 12px;
            box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 0px, rgb(0 0 0 / 10%) 21px 21px 50px 0px;
            position: relative;
            transform: none;
            content: "" !important;
        }
        .pick-color-row {
            width: 20%;
            input {
                display: none;
            }
            .color-value {
                .color-value__span {
                    display: inline-flex;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    color: rgb(83, 189, 1);
                    font-size: 20px;
                    background-image: radial-gradient(at center, white 50%, transparent 50%);
                }
            }
        }
    }

    .text-and-color-option-wrapper {
        box-shadow: 0px -7px 10px rgb(0 0 0 / 13%);
    }

    .option-wrapper {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
    }

    .select-base-wrapper {
        box-shadow: 0px -7px 10px rgb(0 0 0 / 13%);
        background: $third-color;
        padding: 1rem;
    }

    #add-to-cart-btn {
        border-radius: 0px;
        font-size: 0.875rem;
        background: $secondary-color;
        color: white;
        font-family: $primary-font;
        text-transform: uppercase;
        padding: 10px 25px;
        border-radius: 4px;
        font-size: 1rem;
    }

    #add-to-cart-btn[disabled] {
        // background: rgb(204, 204, 204);
        // color: rgb(120, 120, 120);
        background: $primary-color;
        color: #fff;
    }

    @media only screen and (max-width: 768px) {
        .product-view {
            transform: scale(0.75);
        }
        .custom-container {
            max-width: 95vw;
            margin-left: 2.5vw;
        }
    }

    .flickity-button {
        background: $secondary-color;
    }
    .flickity-button-icon {
        fill: white;
    }
}

/* checkbox css */
.input-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $secondary-color;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $secondary-color;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        &::before {
            position: absolute;
            content: "";
            height: 23px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        /* Rounded sliders */
        &.round {
            border-radius: 30px;
        }
        
        &.round:before {
            border-radius: 50%;
        }
    }
}